# 추론 설정 파일
# CLI에서 --key value 형태로 오버라이드 가능

# 모델 설정
model:
  checkpoint_path: "beomi/gemma-ko-2b"   #실제 경로 or Hugging Face 모델명

# 데이터 설정
data:
  test_path: "data/test.csv"

# 출력 설정
output:
  path: "outputs/output.csv"
